.resize-handle:hover,
.resize-handle:active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

* {
  user-select: none;
}

.position-fixed.h-100.d-flex.align-items-center:hover div div {
  opacity: 1 !important;
  background-color: var(--bs-primary) !important;
}

.position-fixed.h-100.d-flex.align-items-center:hover .resize-handle {
  opacity: 1 !important;
}

.resize-handle:hover .rounded-circle {
  background-color: var(--bs-primary) !important;
}
